<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/statics/styles/main.css" />
    <title>/add</title>
  </head>
  <body>
    <form>
      <h1>Create An Animal</h1>
      <input
        type="text"
        name="name"
        placeholder="Animal's name (Camel)"
        style="margin-top: 20px"
      />
      <input
        type="text"
        name="emoji"
        placeholder="Animal's emoji (ðŸª)"
        style="margin: 20px 20px"
      />
      <button type="submit">Submit</button>
    </form>
    <div class="pop-up">
      Animal saved!
    </div>
  </body>
  <script defer src="/statics/js/add.mjs"></script>
</html>
